.load-more-container {
  display:  flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 100px;
}

.product-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.product{
  padding: 10px;
  box-shadow: 0px 4px 16px 0px #0000000F;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.product img{
  width: 200px;
  height: 200px;
}