.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:20px;
}
.accordian{
  width: 500px;
}
.item{
  background: rgb(156, 104, 206);
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 10px;
}
.title{
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.acc-btn{
  padding: 20px;
  background-color: black;
  border: 1px solid greenyellow;
  border-radius: 5px;
  font-weight: 500;
  font-size: 22px;
  cursor: pointer;
  transition: 0.4s;
  color:white;
}
.wrapper .acc-btn:hover{
  background-color: rgb(143, 236, 3);
  color:blue;
}
.content{
  color: #ffffff;
  height: auto;
}
.arrow{
  font-size: 30px;
}
